body{
	background-color: rgb(149, 165, 166); 
}

.todo__container{
	margin: 15px auto;
	width: 40%;
	font-size: 28px;
	font-family: 'Open Sans', sans-serif;
	background-color: rgb(104, 195, 163);
	padding: 10px 0 23px 0;
	border-radius: 15px;
}


/***************** To Do Form *****************/
.todo__title{
	color: white;
	margin: 25px;
	display: inline;
	font-size: 52px;
}

.addItem{
	float: right;
	margin: 10px 15px 0 0;
}

.addItem:hover{
	color: rgb(1, 152, 117);
}

.todo__form{
	margin: 10px 0 20px 0;
	background-color: rgb(164, 219, 199);
	padding: 15px 0;
	display: none;
}

.inputgroup{
	margin-bottom: 15px;
	border: 0;
	padding: 0;
}

.form__textbox{
	padding: 5px 20px;
	border: 2px solid rgb(1, 152, 117);
	background-color: transparent;
	border-radius: 10px;
	font: inherit;
	font-size: 0.8em;
}

.form__textbox--edit{
	background-color: #CCC;
}

.form__textbox--edit:not(:last-child){
	margin-bottom: 10px;
}

::-webkit-input-placeholder { /* Chrome */
  color: white;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  opacity: 1;
}

label[for^="priority"]{
	font-size: 0.8em;
}

.todo__priority input:not(#priority__high){
	margin-left: 235px;
}

#todo__description{
	width: 50%;
}

.todo__submit{
	outline: none;
	border: none;
	border-radius: 10px;
	padding: 5px 20px;
	width: 140px;
	margin: 0 auto;
	display: block;
	background-color: rgb(77, 175, 124);
	color: white;
	font: inherit;
}

button:focus, input:focus, select:focus, textarea:focus {outline:0;}

label:not([for^="priority"]), legend{ text-align: right; display: inline-block; width: 200px; float:left; margin-right: 25px;}

/***************** To Do List/Items *****************/
.todo__list{
	list-style: none;
	margin: 15px auto;
	padding-left: 0;
	overflow-y: scroll;
	height: 78vh;
}	

.todo__item{
	padding: 20px;
	background-color: white;
	text-align: left;
	overflow: hidden;
}

.todo__item:not(:last-child){
	border-bottom: 3px dotted #CCC;
}

.completed .item__name{
	text-decoration: line-through;
}

.completed .todo__complete, .todo__complete:hover{
	color: green;
}

.todo__delete:hover{
	color: red;
}

.todo__edit:hover{
	color: yellow;
}

.todo__options{
	float: right;
	margin-left: 10px;
}

.todo__options .fa:not(:first-child){
	margin-left: 10px; 
}

.todo__info{
	display: none;
	margin: 0 auto;
}

.priority--High{
	color: red; 
}

.priority--Normal{
	color: yellow;
}

.priority--Low{
	color: green;
}

.todo__item .fa-circle[class*="priority"]{
	margin-top: 10px;
	margin-right: 20px;
	float: left;
}

.item__dueDate, .item__description{
	margin: 10px 0;
	font-size: 22px;
}

.item__name, .item__name--edit{
	font-size: 32px;
	overflow: hidden;
	margin: 0;
}

.item__name--edit{
	margin-bottom: 10px;
}

.item__details{
	margin-left: 44px;
}

.item__title{
	font-weight: bold;
	display: inline-block;
}

.expandItem{
	float: right;	
}

.editing .item__dueDate, .editing .item__description, .editing .item__name{
	display: none;
}

.editing .todo__edit{
	color: yellow;
}

.todo__submit--edit{
	margin: 0;
	text-decoration: none;
	font-size: 0.8em;
}

.editing [class$="--edit"]:not(.item__name--edit){
	display: none;
}

/***************** Filter Items *****************/
.filter{
	float: right;
	margin: 0 15px 0 0;
}

.filter__button{
	border: none;
	background-color: rgb(1, 152, 117);
	color: white;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 10px;
	padding: 10px;
}

.filter__button:hover{
	background-color: rgba(1, 152, 117, 0.5);
}

.selected__filter{
	background-color: rgb(249, 191, 59); 
}

.itemsLeft{
	display: inline-block; 
	margin: 0 0 0 15px;
}

.error__message{
	display: none;
	text-align: center;
	color: red;
	position: fixed;
	left: 50%; 
	background-color: white;
	padding: 20px 0; 
	border-radius: 10px;
	-webkit-box-shadow: 5px 5px 0 5px rgb(77, 175, 124);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    5px 5px 0 5px rgb(77, 175, 124);  /* Firefox 3.5 - 3.6 */
  	box-shadow:         5px 5px 0 5px rgb(77, 175, 124);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  	z-index: 5; 
}

.fa{
	font-family: FontAwesome;
}

/**************** Media Styles *****************/
@media (max-width: 1375px){
	.todo__container{
		width: 50%; 
	}
}

@media(max-width: 1150px){
	.todo__container{
		width: 60%; 
	}
}

@media(max-width: 950px){
	.todo__container{
		width: 70%; 
	}
}

@media(max-width: 800px){
	.todo__container{
		width: 85%; 
	}
}

@media(max-width: 700px){
	.todo__container{
		width: 95%; 
	}
}

@media(max-width: 605px){
	label:not([for^="priority"]), legend{ 
		text-align: left;
		float: none;
	}
	.inputgroup{
		margin-left: 25px;
	}

	.todo__priority input:not(#priority__high){
		margin-left: 0;
	}
}