.todo__container{
	margin: 50px auto;
	width: 50%;
	font-size: 28px;
	font-family: 'Open Sans', sans-serif;
	background-color: rgb(104, 195, 163);
	padding: 20px 100px;
	-webkit-box-shadow: 5px 5px 0 15px rgb(77, 175, 124);  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    5px 5px 0 15px rgb(77, 175, 124);  /* Firefox 3.5 - 3.6 */
  	box-shadow:         5px 5px 0 15px rgb(77, 175, 124);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.todo__form{
	margin: 0 auto;
	background-color: white;
	padding: 15px 0;
}

.todo__form *{
	font: inherit;
}

.form__textbox{
	padding: 5px 20px;
	border: none;
	border-radius: 15px;
	font-size: 0.8em;
}

#todo__description{
	width: 50%;
}

label[for^="priority"]{
	font-size: 0.8em;
}

.todo__priority input:not(#priority__high){
	margin-left: 235px;
}

.todo__submit{
	outline: none;
	border: none;
	border-radius: 15px;
	padding: 5px 20px;
	width: 140px;
	margin: 0 auto;
	display: block;
}

.todo__list{
	list-style: none;
	margin: 0 auto;
	padding-left: 0;
}

.todo__item{
	padding: 10px;
	background-color: white;
	margin-top: 15px;
	margin-bottom: 5px;
	text-align: left;
}

.completed{
	text-decoration: line-through;
}

.completed .todo__complete, .todo__complete:hover{
	color: green;
}

.todo__delete:hover{
	color: red;
}

.todo__options{
	float: right;
}

.todo__options .fa:not(:first-child){
	margin-left: 10px; 
}

.todo__info{
	display: none;
	margin: 0 auto;
}

.filter__button{
	border: none;
	background-color: rgb(1, 152, 117);
	color: white;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	border-radius: 10px;
	padding: 10px;
}

.filter__button:hover{
	background-color: rgba(1, 152, 117, 0.5);
}

.selected__filter{
	background-color: rgb(249, 191, 59); 
}

.error__message{
	display: none;
	text-align: center;
	color: red;
}

button:focus, input:focus, select:focus, textarea:focus {outline:0;}

label:not([for^="priority"]), legend{ text-align: right; display: inline-block; width: 200px; float:left; margin-right: 25px;}

.inputgroup{
	margin-bottom: 15px;
	border: 0;
	padding: 0;
}

.priorityHigh{
	color: red; 
}

.priorityNormal{
	color: yellow;
}

.priorityLow{
	color: green;
}

.fa-circle[class^="priority"], .fa-circle[class*="priority"]{
	margin-right: 10px;
}

.form__title{
	background-color: gray;
	padding: 15px;
	font-size: inherit;
	margin: 0;
}

.form__title .fa{
    font-family: FontAwesome;
    float: right;
}

.item__dueDate, .item__description{
	margin: 10px 0;
}